body{
    margin: 0;
}
#projettitre {
    color: #11999E;
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}
.prj{
    background-color: #d4d4d4;
    padding: 5%;
    text-align: center;
    height:600px;
}
.ged img{
    width: 100%;
}
 
.ged{
    height: 100%;
}
.nomProjet{
    font-family:'montserat' sans-serif ;
    font-weight: bolder;
    padding: 5% 5% 10%;
}