body{
    margin: 0;
}
#projettitre {
    color: #11999E;
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 50px;
}
.prj{
    background-color: #d4d4d4;
    padding: 5%;
    text-align: center;
}
.ged img{
    width: 100%;
}
 ul {
    text-decoration: ; 

}